.about {
    margin: 250px 150px 10px 200px ;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 25px;
    padding: 30px;
    background-color: rgba(66, 87, 108, 0.7);
    margin-bottom: 100px;
}
.about h1{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-bottom: 20px;
}
.about p{
    color: white;
    font-size: 20px;
    line-height: 30px;
}